* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

$color_0: #FFFFFF;
$color_1: #19212D;
$color_2: #58A6E9;
$color_3: #000000;
$px: 8px;
$transition: all 0.3s;

@mixin flex($flexDirection: row, $alignItem: center, $justifyContent: center) {
    display: flex;
    flex-direction: $flexDirection;
    align-items: $alignItem;
    justify-content: $justifyContent;
}

@font-face {
    font-family: Roboto;
    src: url("../../assets/font/Roboto_Condensed-Medium.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: Poppins;
    src: url("../../assets/font/Poppins-Regular.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: Trebuchet;
    src: url("../../assets/font/trebuc.ttf");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}

body {
    font-family: sans-serif;
    background-image: linear-gradient(to bottom right, $color_1, $color_3);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: fixed;
}

.container {
    @include flex(column, center, center);
    font-family: Trebuchet, sans-serif;
    color: $color_0;
    z-index: 500;

    .block {
        @include flex(column, center, center);
        margin: 60px auto auto auto;
    }
    .content {
        text-align: center;
        padding: $px * 2;
    }
    .profile {
        line-height: 40px;
        z-index: 100;
        height: 60vh;

        .profile-image {
            width: 150px;
            border: 2px solid $color_2;
            border-radius: $px * 100;
            box-shadow: 2px 2px 20px 0px rgba($color: $color_2, $alpha: 0.6);
            margin: $px;
            transition: $transition;
        }
        .profile-name {
            font-size: 2rem;
        }
        .profile-title {
            @include flex(row, center, center);
            font-size: 1rem;
            animation: show-badge 0.5s linear;
            margin: $px;

            @keyframes show-badge {
                from {
                    opacity: 0;
                    margin: 0px;
                } to {
                    opacity: 1;
                    margin: $px;
                }
            }
        }
        .profile-image:hover {
            box-shadow: 2px 2px 25px 0px rgba($color: $color_2, $alpha: 1);
        }
        .contact {
            @include flex(row, center, center);
            flex-wrap: wrap;
            gap: 2rem;
            list-style: none;
            padding: $px * 2;
            z-index: 200;

            .contact-field {
                @include flex(column, center, left);
                text-align: center;
                border: 1px solid $color_2;
                border-radius: $px * 4;
                padding: $px * 2;
                box-shadow: 2px 2px 20px 0px rgba($color: $color_2, $alpha: 0.6);
                transition: $transition;
                color: $color_0;
                text-decoration: none;
                background-color: transparent;
                width: 300px;
            }
            i {
                font-size: 2rem;
                padding: $px 0px;
            }
            .contact-field:hover, .contact-field:visited, .contact-field:link, .contact-field:focus {
                box-shadow: 2px 2px 25px 0px rgba($color: $color_2, $alpha: 1);
                background-color: transparent;
                border-radius: $px * 4;
                text-decoration: none;
                outline: none;
            }
        }
        @media screen and (max-width: 455px) {
            .contact {
                @include flex(row, center, left);
                gap: 2rem;
            }
        }
        @media screen and (max-width: 360px) {
            .contact {
                li {
                    width: 100%;
                }
                .contact-field  {
                    @include flex(column, center, left);
                    font-size: 0.9rem;
                    width: 100%;
                }
                i {
                    font-size: 2rem;
                    padding: $px 0px;
                }
            }
        }
    }
    .about {
        width: 50%;
        height: 50vh;

        .about-heading {
            padding: $px;
        }
        .about-content {
            text-align: center;
            line-height: $px * 3;
            animation: about-content 0.5s;
        }
        @keyframes about-content {
            from {
                margin-top: ($px * 5);
                opacity: 0;
            } to {
                margin-top: 0px;
                opacity: 1;
            }
        }
    }
    .service {
        width: 100%;
        height: 50vh;
        
        .service-heading {
            text-align: center;
        }
        .service-content {
            @include flex(row, center, center);
            gap: 2rem;
            flex-wrap: wrap;
            
            .box {
                background-color: $color_1;
                border: 1px solid $color_2;
                border-radius: $px * 3;
                box-shadow: 1px 1px 10px 0px rgba($color: $color_2, $alpha: 0.6);
                line-height: $px * 4;
                padding: $px * 2;
                width: 300px;
                height: 300px;
                animation: service-box 0.6s;
                animation-timeline: view();

                .box-heading {
                    font-weight: bolder;
                    padding: $px;
                    text-align: center;
                }
                .box-content {
                    text-align: left;
                    list-style: none;
                    padding: $px;

                    .fa-check {
                        color: $color_2;
                    }
                }
                i {
                    padding-right: 4px;
                }
            }
            @keyframes service-box {
                from {
                    opacity: 0;
                    box-shadow: 1px 1px 12px 0px rgba($color: $color_2, $alpha: 0.6);
                } to {
                    opacity: 1;
                    box-shadow: 1px 1px 12px 0px rgba($color: $color_2, $alpha: 1);
                }
            }
        }
    }
    .skill {
        gap: 2rem;

        .block-skill {
            @include flex(column, center, center);
            gap: 1rem;
            animation: skill 0.3s;
            animation-timeline: view();
            
            .list {
                @include flex(row, center, center);
                list-style: none;
                flex-wrap: wrap;

                li {
                    color: $color_2;
                    border: 1px solid $color_2;
                    border-radius: $px * 4;
                    padding: $px ($px * 2);
                    margin: $px;
                    text-align: center;
                }
            }
            @keyframes skill {
                from {
                    opacity: 0;
                } to {
                    opacity: 1;
                }
            }
        }
        @media screen and (max-width: 450px) {
            .block-skill {
                .skill-heading {
                    font-size: 1rem;
                }
            }
        }
    }
    /*
    .slide-show {
        @include flex(row, center, center);
        gap: 4rem;
        width: 98vw;
        overflow-x: hidden;
        
        img {
            display: inline-block;
            width: 80px;
        }
    }*/
    @media screen and (max-width: 300px) {
        .heading {
            font-size: 1.5rem;
        }
    }
    @media screen and (min-width: 1700px){
        .block {
            height: auto;
        }
    }
    @media screen and (max-width: 1070px){
        .block {
            width: 100%;
            height: auto;
        }
    }
    @media screen and (max-width: 700px) {
        .block {
            width: 90%;
            padding: $px * 2;
        }
    }
    @media screen and (max-width: 338px) {
        .block {
            width: 100%;
            padding: $px;
        }
        .profile {
            .profile-name {
                font-size: 26px;
            }
            .profile-title {
                font-size: 14px;
                margin: $px 0px;
            }
        }
        .service {
            .service-content {
                .box {
                    width: 99%;
                    padding: $px;
                    height: auto;

                    .box-heading {
                        text-align: center;
                        font-size: 0.9rem;
                    }
                    .box-content {
                        font-size: 0.9rem;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 251px) {
        .service {
            .service-content {
                .box {
                    width: 95vw;
                    padding: $px;
                    height: auto;

                    .box-heading {
                        text-align: left;
                        font-size: 0.7rem;
                    }
                    .box-content {
                        font-size: 0.7rem;
                    }
                }
            }
        }
    }
    .work {
        gap: 1rem;

        .work-heading {
            text-align: center;
        }
        .work-content {
            @include flex(column, center, center);

            .project-title {
                text-align: center;
                padding: $px * 2;
            }
            @media screen and (max-width: 450px) {
                .project-title {
                    font-size: 1rem;
                }
            }
            .image-presentation {
                @include flex(row, center, center);
                width: 500px;
                gap: 1rem;
                text-align: center;
                overflow: hidden;

                img {
                    width: 98%;
                    border: 1px solid $color_0;
                    border-radius: 4px;
                    animation: project 0.3s;
                    animation-timeline: view();
                }
            }
            @media screen and (max-width: 520px) {
                .image-presentation {
                    width: 100%;
                }
            }
        }
        .redirect {
            text-align: center;
            padding: ($px*4) $px;

            h3 {
                font-size: 1rem;

            }
            .redirect-link {
                color: $color_2;
                padding: $px;
            }
        }
    }
    .blur-effect {
        $circle-t: 30s;

        .blur {
            background-color: $color_2;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            position: absolute;
            z-index: 1;
            filter: blur($px * 10);
        }
        .circle-0 {
            top: 10%;
            left: 10%;
            animation: c0 $circle-t;
        }
        .circle-1 {
            top: 30%;
            right: 10%;
            animation: c1 $circle-t;
        }
        .circle-2 {
            top: 100vh;
            right: 60%;
            animation: c2 $circle-t;
        }
        @keyframes c0 {
            from {
                top: 50%;
                left: 5%;
            } to {
                top: 10%;
                left: 10%;
            }
        }
        @keyframes c1 {
            from {
                top: 70%;
                right: 10%;
            } to {
                top: 30%;
                right: 10%;
            }
        }
        @keyframes c2 {
            from {
                top: 0vh;
                right: 10%;
            } to {
                top: 100vh;
                right: 60%;
            }
        }
    }
    .footer {
        @include flex(column, center, center);
        background-color: $color_1;
        width: 100%;
        height: 200px;
        margin-top: 50px;
        position: sticky;

        .footer-content {
            list-style: none;
            line-height: 40px;
            text-align: center;
        }
    }
}
.welcome {
    @include flex(column, center, center);
    background-color: transparent;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    z-index: 1500;
    font-family: Poppins, sans-serif;

    .welcome-modal {
        @include flex(column, center, start);
        width: 500px;
        height: 350px;
        background-image: linear-gradient(to bottom right, $color_1, $color_2,);
        padding: $px * 2;
        border-radius: $px * 3;
        color: $color_0;

        .salutation, .presentation {
            padding: $px;
        }
        .presentation {
            @include flex(row, center, center);
            animation: presentation 2s linear;
        }
        @keyframes presentation {
            from {
                opacity: 0;
            }to {
                opacity: 1;
            }
        }
        .loading {
            margin: $px * 5;
            width: 100px;
            height: 100px;
            border-top: 2px solid transparent;
            border-right: 2px solid transparent;
            border-bottom: 2px solid transparent;
            border-left: 4px solid $color_0;
            border-radius: 100px;
            animation: loading 1s linear infinite;
        }
        @keyframes loading {
            25% { transform: rotate(90deg); }
            50% { transform: rotate(180deg); }
            75% { transform: rotate(270deg); }
            100% { transform: rotate(360deg); }
        }
    }
    @media screen and (max-width: 520px){
        .welcome-modal {
            width: 90%;
            margin: $px * 2;

            .salutation, .presentation {
                font-size: 1.4rem;
            }
        }
    }
    @media screen and (max-width: 290px){
        .welcome-modal {
            .salutation, .presentation {
                font-size: 1rem;
            }
        }
    }
}